<div class="bg-cover min-h-screen" style="background-image: url('../../../assets/images/patternbg.jpg');">
    <!-- Navigation bar -->
    <div class="absolute top-0 w-full">
        <app-user-nav></app-user-nav>
    </div>

    <div class="pt-32 pr-7 flex justify-around">
        <!-- Form -->
        <div>
            <form class="max-w-md mx-auto p-4 flex-1" [formGroup]="bookingForm" (ngSubmit)="submitBookingForm()">
                <div class="mb-5 flex">
                    <label for="email" class="block font-semibold w-1/2 pr-2">Your registered email</label>
                    <div>
                        <input type="email" id="email" name="email" formControlName="email" class="w-56 p-2 border rounded-md"
                            required>
                        <div *ngIf="submit && f.email.errors" class="text-1xl text-red-600 text-left ml-1 pt-1">
                            <div *ngIf="f.email.errors['required']">Please enter your email</div>
            
                        </div>
            
                    </div>
            
                </div>
            
                <div class="mb-5 flex">
                    <label for="noOfTravellers" class="block font-semibold w-1/2 pr-2">Number of Travelers</label>
                    <div>
                        <input type="number" id="noOfTravellers" name="noOfTravellers" formControlName="noOfTravellers"
                            class="w-56 p-2 border rounded-md" required>
                        <div *ngIf="submit && f.noOfTravellers.errors" class="text-1xl text-red-600 text-left ml-3 pt-1">
                            <div *ngIf="f.noOfTravellers.errors['required']">Please enter the number of travelling people</div>
            
                        </div>
            
                    </div>
            
                </div>
            
                <label for="specialRequests" class="block font-semibold mb-5">Special Requests</label>
                <textarea id="specialRequests" name="specialRequests" formControlName="specialRequests" rows="4"
                    class="w-full p-2 border rounded-md resize-none mb-2"></textarea>
            
                <label for="dateOfTravel" class="block font-semibold mb-5">Date of Travel</label>
                <input type="date" id="dateOfTravel" name="dateOfTravel" formControlName="dateOfTravel"
                    class="w-full p-2 border rounded-md mb-2" required>
                <div *ngIf="submit && f.dateOfTravel.errors" class="text-1xl text-red-600 text-left ml-1 pt-1">
                    <div *ngIf="f.dateOfTravel.errors['required']">Enter your date of travel</div>
            
                </div>
            
                <label for="paymentMethod" class="block font-semibold mb-5">Payment Method</label>
                <select id="paymentMethod" name="paymentMethod" formControlName="paymentMethod"
                    class="w-full p-2 border rounded-md mb-2" required>
                    <option value="" disabled>Select a payment method</option>
            
                    <option value="UPI">UPI</option>
                    <!-- Add more payment options as needed -->
                </select>
            
            
            
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mt-3 hover:bg-blue-600">
                    Submit Booking
                </button>
            </form>

        </div>
        

        <!-- Logo of the agency -->
        <div class="w-1/3  pt-10">
            
                <img [src]="profilePicture" alt="Agency Logo" class="">

            
        </div>
    </div>
</div>