<div class="min-h-screen py-12 px-4 sm:px-6 lg:px-8 bg-cover"
    style="background-image: url('../../../assets/images/patternbg.jpg');">
    <div class="max-w-md mx-auto bg-orange-50 shadow-md rounded-md overflow-hidden">
        <div class="text-center bg-amber-700 text-white py-4">
            <h2 class="text-xl font-semibold">Your Booking</h2>
        </div>
        <div class="p-6 space-y-6">
            <p class="text-lg font-semibold">Thank you for booking with us!</p>
            <p class="text-gray-700">Booking details:</p>

            <!-- Booking Details -->
            <div class="bg-amber-50 p-4 rounded-md shadow-md">
                <p class="font-semibold">Place:</p>
                <p class="text-gray-700">{{bookingData.agencyName.location}}</p>

                <p class="font-semibold mt-4">Agency:</p>
                <p class="text-gray-700">{{bookingData.agencyName.agencyName}}</p>

                <p class="font-semibold mt-4">Date of Booking:</p>
                <p class="text-gray-700">{{formatDate(bookingData.dateOfTravel)}}</p>

                <p class="font-semibold mt-4">Number of Persons:</p>
                <p class="text-gray-700">{{bookingData.noOftravellers}}</p>

                <p class="font-semibold mt-4">Total Cost:</p>
                <p class="text-gray-700">{{bookingData.totalAmount}}</p>
            </div>

            <div class="flex justify-center">
                <a (click)="cancelBooking(bookingData._id)" class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-blue-600">
                    Cancel Booking
                </a>
            </div>
        </div>
    </div>
</div>