<footer class="bg-gray-900 text-white py-8">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="w-full md:w-1/4 text-center md:text-left mb-4 md:mb-0">
            <p class="font-mono font-semibold text-2xl lg:pl-10 md:pl-8">TripHive.</p>
        </div>
        <div class="w-full md:w-1/4 text-center md:text-left mb-4 md:mb-0">
            <p class="font-mono font-semibold text-xl">Quick Links</p>
            <ul>
                <li class="py-2"><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/listBookings']">Bookings</a></li>
            </ul>
        </div>
        <div class="w-full md:w-1/4 text-center md:text-left">
            <p class="font-mono font-semibold text-xl mb-4 md:mb-0">Contact Us</p>
            <p class="text-sm">123 Main Street, City, Country</p>
            <p class="text-sm">Email: contact@triphive.com</p>
        </div>
    </div>
</footer>